<div class="tabela-rodas-container">
  <h1>Editar Rodas</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @rodas.each do |roda| %>
        <tr>
          <td><%= roda.titulo %></td>
          <td><%= roda.descricao %></td>
          <td><%= number_to_currency(roda.preco) %></td>
          <td>
            <%= button_to "Remover", admin_roda_path(roda), method: :delete, data: { confirm: "Tem certeza que deseja remover?" }, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="mt-4">
    <%= link_to "Adicionar Nova Roda", new_admin_roda_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

<style>
  .tabela-rodas-container {
    margin: 20px auto;
    max-width: 900px;
    background-color: var(--light);
    padding: 25px;
    border: 1px solid var(--secondary);
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .tabela-rodas-container h1 {
    color: var(--primary);
    margin-bottom: 25px;
    text-align: center;
    font-size: 28px;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .table th,
  .table td {
    padding: 15px;
    border: 1px solid var(--secondary);
    text-align: left;
    font-size: 16px;
  }

  .table th {
    background-color: var(--secondary);
    color: var(--light);
    font-weight: bold;
  }

  .btn {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }

  .btn-warning {
    background-color: #ffb703;
    color: #fff;
  }

  .btn-warning:hover {
    background-color: #ffa500;
  }

  .btn-danger {
    background-color: #e63946;
    color: #fff;
  }

  .btn-danger:hover {
    background-color: #d62828;
  }


  .mt-4 {
    margin-top: 20px;
  }
</style>
