<div class="container mt-4 col-lg-9 about-section">
  <div class="row g-5">
    <div class="col-lg-6 pt-4 about-image">
      <div class="position-relative h-100 wow fadeIn" data-wow-delay="5s">
        <%= image_tag "CarvalhoC.png", class: "about-img" %>
        <div class="about-overlay">
          <h1 class="display-4 text-white mb-0">15 <span class="fs-4">Anos</span></h1>
          <h4 class="text-white">Experiência</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-6 about-content">
      <h1 class="mb-4"><span class="text-primary">Carvalho Center</span> é o melhor lugar para o seu cuidado automotivo</h1>
      <p class="mb-4">O melhor serviço de manutenção de rodas do Estado de Rondônia há 15 anos no mercado!</p>
      <div class="row g-4 mb-3 pb-3">
        <% features = [
          { title: "Profissional e Especialista", description: "Com anos de experiência e conhecimento profundo, garantimos um atendimento de qualidade, focado em soluções rápidas e eficazes para todos os tipos de manutenção de rodas" },
          { title: "Centro de Atendimento de Qualidade", description: "No Carvalho  Center, prezamos pela excelência no serviço prestado. Nosso centro de serviços é equipado com ferramentas modernas e uma estrutura voltada para oferecer o melhor atendimento e manutenção de alta qualidade" },
          { title: "Trabalhadores Vencedores", description: "Nossa equipe já foi premiada em diversas competições do setor automotivo, destacando-se pela dedicação e maestria no trabalho." }
        ] %>
        <% features.each_with_index do |feature, index| %>
          <div class="col-12 wow fadeIn" data-wow-delay="<%= "5s" * index %>s">
            <div class="d-flex feature-item">
              <div class="feature-icon">
                <span class="fw-bold "><%= format('%01d', index + 1) %></span>
              </div>
              <div class="ps-3">
                <h6><%= feature[:title] %></h6>
                <span><%= feature[:description] %></span>
              </div>
            </div>
          </div>
        <% end %>
        <div class="d-flex justify-content-center">
          <a href="#" class="btn btn-primary py-3 px-5">Leia Mais<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
