<div class="modal fade" id="modalReserva_<%= roda.id %>" tabindex="-1" aria-labelledby="modalReservaLabel_<%= roda.id %>" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4 bg-dark-premium text-light">
      <!-- Cabeçalho do Modal -->
      <div class="modal-header bg-primary text-white d-flex align-items-center">
        <h5 class="modal-title fw-bold" id="modalReservaLabel_<%= roda.id %>">
          <i class="bi bi-cart-fill me-2"></i> Reservar <%= roda.titulo %>
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <!-- Corpo do Modal -->
      <div class="modal-body">
        <% if flash[:alert] %>
          <!-- Exibe a mensagem de erro no modal se houver um alerta -->
          <div class="alert alert-danger">
            <%= flash[:alert] %>
          </div>
        <% end %>
        <p class="fw-bold">Preço:</p>
        <p class="fs-5 text-primary"><%= number_to_currency(roda.preco, locale: :'pt-BR') %></p>
        <p class="fw-bold">Descrição:</p>
        <p class="text-muted"><%= roda.descricao %></p>
        <h6 class="fw-bold text-primary mb-3">Confirme seus dados para reservar a roda:</h6>
        <%= simple_form_for :pedido, url: pedidos_path, method: :post do |f| %>
          <%= f.input :roda_id, as: :hidden, input_html: { value: roda.id } %>
          <%= f.input :nome, label: 'Seu Nome', input_html: { class: 'form-control', required: true } %>
          <%= f.input :telefone, label: 'Telefone para Contato', input_html: { class: 'form-control', required: true } %>
          <%= f.input :email, label: 'E-mail', input_html: { class: 'form-control', required: true } %>
          <%= f.button :submit, 'Confirmar ', class: 'btn btn-success d-flex align-items-center justify-content-center py-3' %>
        <% end %>
      </div>
      <!-- Rodapé do Modal -->
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-danger w-100 py-3" data-bs-dismiss="modal">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
