<!-- Sidebar -->
<div class="sidebar col-lg-3">
  <ul class="list-unstyled">
    <li>
      <%= link_to admin_root_path do %>
        <span class="material-symbols-outlined">menu</span> Menu
      <% end %>
    </li>
    <li>
      <%= link_to root_path do %>
        <span class="material-symbols-outlined">home</span> Página Inicial
      <% end %>
    </li>
    <li>
      <%= link_to admin_users_path do %>
        <span class="material-symbols-outlined">group</span> Usuários
      <% end %>
    </li>
    <li>
      <%= link_to new_admin_roda_path do %>
        <span class="material-symbols-outlined">add_circle</span> Adicionar Roda
      <% end %>
    </li>
    <li>
      <%= link_to admin_rodas_path do %>
        <span class="material-symbols-outlined">remove_circle</span> Remover do Catálogo
      <% end %>
    </li>
    <li>
      <%= link_to admin_reservas_path do %>
        <span class="material-symbols-outlined">event</span> Reservas
      <% end %>
    </li>
    <li>
      <%= link_to admin_estoque_path do %>
        <span class="material-symbols-outlined">inventory</span> Estoque
      <% end %>
    </li>
    <li>
      <%= link_to vendas_path do %>
        <span class="material-symbols-outlined">attach_money</span> Vendas
      <% end %>
    </li>
    <li>
      <%= button_to destroy_user_session_path, method: :delete, class: "btn btn-danger" do %>
        <span class="material-symbols-outlined">logout</span> Sair
      <% end %>
    </li>
  </ul>
</div>
