<!-- Sidebar -->
<div class="sidebar col-lg-3 ">
  <ul class="list-unstyled">
    <li><%= link_to "Página Home", root_path %></li>
    <li><%= link_to "Usuários",  admin_users_path %></li>
    <li><%= link_to "Editar Rodas", admin_rodas_path %></li>
    <li><%= link_to "Adicionar Roda", new_admin_roda_path %></li>
    <li><%= link_to "Reservas",  admin_reservas_path %></li>
    <li><%= button_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-danger" %></li>
  </ul>
</div>
