<div class="container-fluid">
  <div class="row">
    <%= render "shared/navbar" %>
    <%= render "shared/about" %>
    <%= render "shared/booking" %>
    <%= render "shared/backtop" %>
    <%= render "shared/footer" %>
  </div>
</div>