<div id="view-produtos">
  <%= render "shared/navbar" %>
  <section class="section-products mt-4">
    <div class="container">
      <!-- Filtros de Pesquisa -->
      <div class="row justify-content-center mb-4">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="card shadow-lg border-0 rounded-4 p-2 bg-dark-premium text-light">
            <h2 class="text-center fw-bold mb-2 fs-4">Encontre a Roda Ideal</h2>
            <p class="text-muted text-center mb-2 fs-6">Filtre por categoria ou título para encontrar o que deseja.</p>
            <%= search_form_for @q, url: services_path, method: :get, html: { class: "filter-form" } do |f| %>
              <div class="table-responsive mt-2">
                <table class="table table-borderless mb-0">
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-floating">
                          <%= f.select :categoria_eq,
                          [['Nova', 'nova'], ['Semi Nova', 'semi nova'], ['Todas', '']],
                          { prompt: "Selecione a Categoria" },
                          id: 'categoria_eq', class: 'form-select bg-dark-premium text-light form-control-sm' %>
                          <label for="categoria_eq" class="text-light"></label>
                        </div>
                      </td>
                      <td>
                        <div class="form-floating">
                          <%= f.text_field :titulo_cont,
                          id: 'titulo_cont',
                          class: "form-control bg-dark-premium text-light form-control-sm",
                          placeholder: "Digite o título" %>
                          <label for="titulo_cont" class="text-light">Título</label>
                        </div>
                      </td>
                      <td class="text-center">
                        <%= f.submit "Buscar", class: "btn btn-primary btn-sm  fw-bold btn-custom" %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Exibição das Rodas -->
      <div class="row g-4 justify-content-center mt-4">
        <% if @rodas.any? %>
          <% @rodas.each do |roda| %>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
              <div class="card shadow-lg border-0 rounded-4 h-100 roda-card bg-dark-premium">
                <div class="roda-image-wrapper">
                  <% if roda.imagem.present? %>
                    <%= image_tag roda.imagem, class: "img-fluid rounded-top roda-image", alt: roda.titulo, loading: "lazy" %>
                  <% else %>
                    <div class="image-placeholder">
                      <p class="m-0">Imagem não disponível</p>
                    </div>
                  <% end %>
                </div>
                <div class="card-body text-center text-light">
                  <h5 class="fw-bold text-light"><%= roda.titulo %></h5>
                  <p class="fs-4 text-primary"><%= number_to_currency(roda.preco, locale: :'pt-BR') %></p>
                  <p class="text-muted mb-2">
                    <strong>Categoria:</strong> <%= roda.categoria.present? ? roda.categoria.capitalize : "Não definida" %>
                  </p>
                  <p class="text-muted mb-2">
                    <strong>Quantidade em Estoque:</strong> <%= roda.quantidade %>
                  </p>
                  <% if roda.quantidade > 0 %>
                    <button class="btn btn-primary btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#modalReserva_<%= roda.id %>">
                      Reservar agora                    </button>
                  <% else %>
                    <button class="btn btn-secondary btn-sm mt-2" disabled>
                      Indisponível
                    </button>
                  <% end %>
                </div>
              </div>
            </div>
            <%= render partial: "shared/modal_compra", locals: { roda: roda } %>
          <% end %>
        <% else %>
          <div class="col-12 text-center">
            <p class="text-muted fs-4">Nenhuma roda encontrada para os filtros selecionados.</p>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <%= render "shared/footer" %>
  <%= render "shared/backtop" %>
</div>
