<!DOCTYPE html>
<html>
  <head>
    <title>Carvalho Auto Center</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <!-- Yield for page content -->
    <%= yield %>

    <!-- Back to Top Button -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top">
      <i class="bi bi-arrow-up"></i>
    </a>

    <!-- JavaScript Libraries -->
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.4.1.min.js', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'lib/wow/wow.min.js', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'lib/easing/easing.min.js', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'lib/waypoints/waypoints.min.js', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'lib/counterup/counterup.min.js', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'lib/owlcarousel/owl.carousel.min.js', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'lib/tempusdominus/js/moment.min.js', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'lib/tempusdominus/js/moment-timezone.min.js', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js', 'data-turbo-track': 'reload' %>

    <!-- Template Javascript -->
    <%= javascript_include_tag 'main', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  </body>
</html>
